p { font-size: 10pt;}

div.polaroid {
    width: 150px;
    background-color: #DCDCDC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 8px;
}

img {
    width: 150px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
}

table td, table td * {
    vertical-align: top;
}